---
import Layout from "../layouts/Layout.tsx";
// import Card from "../components/Card.astro";
import "../styles/global.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-4xl text-center mt-12 font-bold">Well, hello there!</h1>
    <!-- <p class="text-lg">
      Do you want me to draw up a architecture for your project? Get in touch!
      You get a solution, I get to share the process.
    </p> -->

    <ul class="space-y-4 mt-12"></ul>
  </main>
</Layout>
